@if(@ViewBag.isRequired){
    <label asp-for="@Model"> @ViewBag.Label <span style="color:red"> * </span></label>
    <input type="@ViewBag.type" class="@ViewBag.ClassName" for="@ViewBag.ForAttribute" required/>
}
else{
    <label for="@ViewBag.ForAttribute"> @ViewBag.Label </label>
    <input type="@ViewBag.type" class="@ViewBag.ClassName" for="@ViewBag.ForAttribute"/>
}

@if(@ViewBag.validation){
    <div asp-validation-for="@ViewBag.ForAtrribute"></div>
}