@model Complainant
<tr>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.name</td>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.cnic</td>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.email</td>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.mobile_number</td>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.date_of_birth</td>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.gender</td>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.province</td>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.district</td>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.postal_code</td>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.tehsil</td>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.residential_address</td>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.telephone_number</td>
</tr>