@model User
<tr>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.Name</td>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.CNIC</td>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.Email</td>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.MobileNumber</td>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.DOB</td>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.Gender</td>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.Province</td>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.District</td>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.postalCode</td>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.Tehsil</td>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.Address</t>
    <td class="py-2 px-3 border-white border-1 bg-secondary bg-opacity-25">@Model.TelephoneNumber</td>
</tr>